@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

.graph {
  width: 995px;
  height: 476px;
  margin-top: 150px;
}

.selectTimeLine {
  z-index: 1;
  width: 380px;
  height: 90px;
  float: right;
  margin-bottom: 5%;
}

.selectTimeLine__chosen {
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 18px;
  height: 18px;
  border-top: #000AFF solid 3px;
  border-right: #000AFF solid 3px;
  transform: rotate(135deg);
  margin-right: 20px;
  margin-top: 6px;
}

.selectTimeLine div:first-child p {
  margin: 0;
  font-size: 24px;
  text-align: start;
  padding-top: 5px;
  padding-left: 18px;
}

.selectTimeLine div p {
  font-size: 24px;
  text-align: start;
  padding-top: 5px;
  padding-left: 18px;
}

.selectTimeLine__chosen {
  width: 380px;
  height: 43px;
  border-radius: 25px;
  background-color: white;
  border: solid 2px #000AFF;
}

.selectTimeLine__options {
  width: 380px;
  border-radius: 20px;
  border: solid 2px #000AFF;
  background-color: white;
  z-index: 1;
  position: relative;
}

.table {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: #ff00f710;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: end;
  margin-top: 114px;
}

.table__leftCol {
  margin-bottom: 7%;
}

.table__leftCol__list li {
  font-size: 20px;
  list-style: none;
  margin-bottom: 36%;
}

.table__rightCol {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 814px;
  height: 340px;
}

.table__rightCol__monthData {
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  width: 20px;
}

.table__rightCol__monthData div:nth-child(2) {
  width: 20px;
  background-color: #000AFF;
  border-radius: 3px;
  height: 100%;
  margin-bottom: 20px;
}

.table__rightCol__monthData div:nth-child(2):hover {
  box-shadow: 1px 1px 25px #0008ff4d;
}

.table__rightCol__monthData div:nth-child(3) {
  font-size: 22px;
  height: 20px;
}

@keyframes grow {

  0% {
    max-height:  9px;
  }
  100% {
    max-height:  269px;
  }
}

.animatedGrow{  
  animation: grow 0.3s linear;
}

.hidden {
  display: none;
}

.up {
  transform: rotate(-45deg);
  margin-top: 12px;
}
.title {
  display: none;
}
.table__rightCol__monthData:hover .title {
  display: block;
  border-radius: 8px;
  background-color: #52ee74;
  padding: 3px 10px 3px 10px;
  position: relative;
  margin-bottom: 10px;
}